 header {
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffcf99;
    background-image: url(../images/asfalt-light.png);
    padding-top: 120px;
  }
  
  header h2{
    margin-top: 0;
  }